body{
    height: 100vh;
    background-color: rgb(210, 210, 213);
}

.container{
    height: 100%;
    display: grid;
    grid-template-rows:min-content 1fr min-content;
    min-width: 520px;
    align-items: start;
}

.header button{
    background-color:rgba(17, 13, 56,0) ;
    border: 2px solid rgb(17, 13, 56);
    font-weight: 750;
    padding: 0.3em 1em;
    color:rgb(17, 13, 56);
    border-radius: 5px;
    font-size: 0.9rem;
}
.container .header{
    padding: 1em 15%;
    font-size: 1.2rem;
    background-color: white;
    border-bottom: 1px solid rgb(181, 181, 181);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 13, 56);
    padding: 1.2em 15%;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
}
.contents{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap:2em;
    padding: 1em 20%;
    justify-items: center;
    align-items: center;
    height: fit-content;
}
.contents .card{
    padding: 2em;
    background-color: white;
    border-radius: 7px;
    border: none;
    max-width: 450px;
    box-shadow: 2px 2px solid rgb(217, 217, 217);
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-left: 7px solid rgb(17, 13, 56);
    align-items: start;
    position: relative;
}
.bookDel{
    align-self: end;
    padding: 0.8em 1.2em;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    font-size: 0.8rem;
    color: white;
    background-color: rgb(215, 8, 8);
    
}
#addBookDialog{
    padding: 2em;
    border: none;
    border-radius: 2px;
    min-width: min-content;
    width: min(30% , 500px);
}
fieldset ul{
    list-style-type: none;
}
fieldset{
    border: none;
    padding: 1em 0.5em;
}
form > *{
    padding: 1em 0.5em;
}
.form-row{
    display: flex;
    padding: 1em 0.5em;
    flex-direction: column;
}
.form-row input[type="text"],input[type="number"]{
    border: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    background-color: rgb(240, 240, 241);
}
label,legend{
    font-weight: bold;
}
li label{
    margin: 0px 1em;
}
ul li{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.buttons{
    display: flex;
    justify-content: space-around;
    gap:1em;
}
.buttons > *{
    padding: 0.7em 2em;
    border: none;
    font-weight: bold;
    border-radius: 10px;
}
.buttons button[type="submit"]{
    background-color: rgb(17, 13, 56);
    color:white;
}
#close{
    color:rgb(17, 13, 56);
}
#book-name::after{
    content:"Required";
    color: rgb(17, 13, 56);
    font-weight: bold;
}
.form-row div{
    color: red;
}
